@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/—Pngtree—abstract\ wallpaper\ desktop\ design_1168462.png");
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 100vw;
    height: 100vh
 }
